<div class="relational-item-abstract"
    ng-if="!entity.link || !entity.link.contains('upload.wikimedia.org')">
    <a class="relational-title fix-text"
       ng-if="entity.link && !entity.link.contains('upload.wikimedia.org')"
       href="{{entity.link}}">{{entity.title}}</a>
    <span class="relational-title fix-text"
          ng-if="!entity.link">{{entity.title}}</span>

    <span class="relational-subtitle fix-text">{{entity.subtitle}}</span>

    <div class="image-container">
        <img ng-if="entity.photoUrls.length" ng-src="{{entity.photoUrls[0]}}" onerror="$(this).hide()"/>
    </div>

    <div ng-include="'templates/entity-keyValues.html'"></div>
</div>

<div class="relational-item-abstract-image"
     ng-if="entity.link && entity.link.contains('upload.wikimedia.org')">
    <div class="image-container">
        <img ng-src="{{entity.link}}" onerror="$(this).hide()"/>
    </div>
</div>