<!DOCTYPE html>
<html ng-app='kgui'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1"/>

    <title>Knowledge Graph</title>
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>


    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-sanitize/angular-sanitize.js"></script>

    <script type="text/javascript" src="../libs/jquery.growl/javascripts/jquery.growl.js"></script>
    <link rel="stylesheet" type="text/css" href="../libs/jquery.growl/stylesheets/jquery.growl.css">

    <script type="text/javascript" src="../node_modules/ng-tags-input/build/ng-tags-input.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../node_modules/ng-tags-input/build/ng-tags-input.min.css">

    <script type="text/javascript" src="../node_modules/lodash/lodash.min.js"></script>

    <script type="text/javascript" src="../node_modules/angular-auto-complete/angular-auto-complete.js"></script>
    <link rel="stylesheet" href="../node_modules/angular-auto-complete/angular-auto-complete.css"/>

    <script type="text/javascript" src="../node_modules/angular-paging/dist/paging.min.js"></script>

    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css"/>


    <script type="text/javascript" src="../scripts/app/app.js"></script>
    <script type="text/javascript" src="../scripts/app/service/rest.js"></script>
    <script type="text/javascript" src="../scripts/app/controller/main.js"></script>

    <link rel="stylesheet" href="../styles/main.css">
</head>

<body ng-controller="MainController">
<div ng-include="'templates/header.html'"></div>

<div class="text-center">
    <form ng-submit="go()" class="form-inline">
        <label>جستجو</label>
        <input type="text" class="input" ng-model="filter.keyword" placeholder="" style="width: 300px;"/>
    </form>
</div>

<br/>

<div ng-if="data.entities.length" class="container" id="body">

    <div class="row">
        <ul class="breadcrumb" ng-if="data.breadcrumb.length">
            <li ng-repeat="item in data.breadcrumb">{{item}}</li>
        </ul>

        <div class="col-xs-12 col-md-8">
            <h4>پاسخ‌های گزاره‌ای</h4>
            <div ng-repeat="(key, value) in relationalResults" style="line-height: 300%;">
                <fieldset>
                    <legend>{{key}}</legend>
                    <div ng-repeat="entity in value"
                         class="entity-item"
                         ng-include="'./templates/relational.html'"></div>
                </fieldset>
            </div>

        </div>

        <div class="col-xs-12 col-md-4">
            <h4>موجودیت‌ها</h4>
            <div class="entities">
                <div ng-repeat="entity in entities">
                    <div class="entity-box">
                        <div ng-if="entity.data" ng-include="'./templates/entity.html'"></div>
                        <div ng-if="!entity.data" ng-include="'./templates/relational.html'"></div>
                        <div ng-if="!entity.data">
                            <span class="link" ng-click="loadEntity(entity)">بیشتر...</span>
                        </div>
                    </div>
                    <hr ng-if="!$last" style=""/>
                </div>
            </div>
        </div>

    </div>

</div>

<br/>
<div ng-show="data.entities.length"
     style="padding: 10px; margin-bottom: 20px; border-top: solid 1px #aaa; text-align: center">
    <a ng-click="showInfo=!showInfo;window.scrollTo(0,document.body.scrollHeight);" style="cursor: pointer;">درباره
        سیستم</a>
</div>
<div ng-show="!data.entities.length || showInfo" ng-include="'./templates/info.html'"
     style="padding: 0px; margin: 10px 40px;"></div>

<!--<div ng-include="'templates/footer.html'"></div>-->
</body>

</html>