@font-face {
  font-family: "DroidArabicKufi";
  src: url('fonts/DroidFonts/Droid%20Arabic%20Kufi.ttf') format('truetype');
}
@font-face {
  font-family: "DroidNaskh";
  src: url('fonts/DroidFonts/DroidNaskh-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "IRANSans";
  src: url('fonts/IranFonts/IRAN_Sans.ttf') format('truetype');
}
@font-face {
  font-family: "IRANSansBold";
  src: url('fonts/IranFonts/IRAN_Sans_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'IRANSans-web';
  src: url('fonts/IranFonts/IRANSans.eot?#') format('eot'), /* IE6�8 */ url('fonts/IranFonts/IRANSans.woff2') format('woff2'), /* Chrome36+, Opera24+*/ url('fonts/IranFonts/IRANSans.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: normal;
}
@font-face {
  font-family: 'IRANSans-web';
  src: url('fonts/IranFonts/IRANSans-Bold.eot?#') format('eot'), /* IE6�8 */ url('fonts/IranFonts/IRANSans-Bold.woff2') format('woff2'), /* Chrome36+, Opera24+*/ url('fonts/IranFonts/IRANSans-Bold.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: bold;
}
.fontDroidArabicKufi {
  font-family: DroidArabicKufi !important;
}
.fontDroidNaskh {
  font-family: DroidNaskh !important;
}
.fontIRANSans {
  font-family: IRANSans !important;
}
.fontIRANSansBold {
  font-family: IRANSansBold !important;
}
.fontIRANSans-web {
  font-family: IRANSans-web !important;
}
* {
  font-family: IRANSans-web, Sahel, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
body {
  direction: rtl;
}
.entity {
  border: solid 1px lightgray;
  border-radius: 2px;
  margin: 2px 0;
  padding: 2px;
}
.title {
  font-size: 16pt;
  font-weight: bold;
}
.subtitle {
  color: grey;
  font-size: 14px;
  font-weight: normal;
}
.description {
  color: #262626;
  font-size: 12px;
  font-weight: normal;
}
.key {
  color: #122b40;
  font-size: 12px;
  font-weight: bold;
}
.value {
  font-size: 12px;
  font-weight: normal;
}
.image-container {
  float: right;
  margin: 10px 0 10px 10px;
}
.image-container img {
  border: none;
  width: 150px;
}
/**/
.loading {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
}
.loading span {
  background: -moz-linear-gradient(center bottom, #fef1d1 0pt, #fdebbd 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#fef1d1), to(#fdebbd));
  color: #000;
  border-radius: 4px;
  font-family: tahoma;
  font-size: 10px;
  padding: 5px;
  border: solid 1px #ddad4e;
  box-shadow: 0 0 4px 0px #ddd;
  margin: 0 auto;
}
#header {
  direction: rtl;
  margin: 0 0 10px 0;
  height: 50px;
  border-bottom: solid 1px #aaa;
  box-shadow: 0 4px 5px -2px grey;
  background: #93cede;
  background: -moz-linear-gradient(45deg, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #93cede), color-stop(41%, #75bdd1), color-stop(100%, #49a5bf));
  background: -webkit-linear-gradient(45deg, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: -o-linear-gradient(45deg, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: -ms-linear-gradient(45deg, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: linear-gradient(45deg, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1);
}
#header .title {
  color: white;
  font-size: 15pt;
  font-weight: bold;
  float: right;
  padding: 10px 50px;
}
#footer {
  direction: rtl;
  background-color: #e6e6e6;
  margin: 20px 0 0 0;
  padding: 10px 50px;
  text-align: center;
  border-top: solid 1px #aaa;
}
