@font-face {
  font-family: "DroidArabicKufi";
  src: url('fonts/DroidFonts/Droid%20Arabic%20Kufi.ttf') format('truetype');
}
@font-face {
  font-family: "DroidNaskh";
  src: url('fonts/DroidFonts/DroidNaskh-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "IRANSans";
  src: url('fonts/IranFonts/IRAN_Sans.ttf') format('truetype');
}
@font-face {
  font-family: "IRANSansBold";
  src: url('fonts/IranFonts/IRAN_Sans_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'IRANSans-web';
  src: url('fonts/IranFonts/IRANSans.eot?#') format('eot'), /* IE6�8 */ url('fonts/IranFonts/IRANSans.woff2') format('woff2'), /* Chrome36+, Opera24+*/ url('fonts/IranFonts/IRANSans.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: normal;
}
@font-face {
  font-family: 'IRANSans-web';
  src: url('fonts/IranFonts/IRANSans-Bold.eot?#') format('eot'), /* IE6�8 */ url('fonts/IranFonts/IRANSans-Bold.woff2') format('woff2'), /* Chrome36+, Opera24+*/ url('fonts/IranFonts/IRANSans-Bold.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: bold;
}
.fontDroidArabicKufi {
  font-family: DroidArabicKufi !important;
}
.fontDroidNaskh {
  font-family: DroidNaskh !important;
}
.fontIRANSans {
  font-family: IRANSans !important;
}
.fontIRANSansBold {
  font-family: IRANSansBold !important;
}
.fontIRANSans-web {
  font-family: IRANSans-web !important;
}
/*version 1.0.0*/
/**/
/**/
* {
  font-family: IRANSans-web, Sahel, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
body {
  direction: rtl;
}
.entities {
  background-color: #ffffeb;
}
.entity-box {
  padding: 5px;
  overflow: hidden;
}
.image-container {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 180px;
  width: 150px;
}
.entity {
  border: solid 1px #eee;
  border-radius: 2px;
  margin: 2px 0;
  padding: 2px;
}
.entity-item {
  outline: solid 1px #ddd;
  float: right;
  margin: 0 0 10px 20px;
  height: 250px;
  width: 150px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.entity-title-container {
  text-overflow: ellipsis;
  overflow: hidden;
}
.entity-title-container .image-title {
  font-size: 12px;
}
.entity-title {
  font-size: 14px;
}
.subtitle {
  color: #555;
  font-size: 13px;
}
.abstract {
  color: #888;
  font-size: 13px;
}
.entity-property {
  padding: 5px 5px;
}
.key {
  color: #555;
  font-size: 13px;
  font-weight: bold;
}
span.value {
  color: #555;
  font-size: 13px;
}
a.value {
  font-size: 13px;
}
span.link {
  color: dodgerblue;
  cursor: pointer;
  font-size: 11px;
}
span.link:hover {
  text-decoration: underline;
}
fieldset {
  border: solid 1px #eeeeee !important;
  border-radius: 2px;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}
legend {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: right !important;
  width: auto;
  padding: 0 10px;
  margin-bottom: 0;
  border-bottom: none;
}
.small-text {
  font-size: 12px;
}
/**/
.loading {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
}
.loading span {
  background: -moz-linear-gradient(center bottom, #fef1d1 0pt, #fdebbd 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#fef1d1), to(#fdebbd));
  color: #000;
  border-radius: 4px;
  font-family: tahoma;
  font-size: 10px;
  padding: 5px;
  border: solid 1px #ddad4e;
  box-shadow: 0 0 4px 0px #ddd;
  margin: 0 auto;
}
#header {
  direction: rtl;
  margin: 0 0 10px 0;
  height: 50px;
  border-bottom: solid 1px #aaa;
  box-shadow: 0 4px 5px -2px grey;
  background: #93cede;
  background: -moz-linear-gradient(45deg, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #93cede), color-stop(41%, #75bdd1), color-stop(100%, #49a5bf));
  background: -webkit-linear-gradient(45deg, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: -o-linear-gradient(45deg, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: -ms-linear-gradient(45deg, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: linear-gradient(45deg, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1);
}
#header .title {
  color: white;
  font-size: 15pt;
  font-weight: bold;
  float: right;
  padding: 10px 50px;
}
#body {
  direction: rtl;
  min-height: 450px;
  margin-bottom: 80px;
  padding: 10px;
}
#footer {
  direction: rtl;
  background-color: #e6e6e6;
  margin: 20px 0 0 0;
  padding: 10px 50px;
  text-align: center;
  border-top: solid 1px #aaa;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
